<div class="container">
<h1 class="title">Inserisci la recensione</h1>
<form>
  <div class="row my-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nome del ristorante">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="indirizzo">
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <input type="number" class="form-control" placeholder="costo del menu'">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="menu'">
    </div>
  </div>
  <button class="btn btn-success">Inserisci</button>
</form>
</div>